body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    border-radius: 8px;
  }
    
a {
    color: black;
    background-color: yellow;
    font-weight: bold;
}

ul {
  list-style-type:circle;
}

head{
  background-color: lightblue;
  padding-left: 4px;
  border-radius: 15px;

}

nav{
background-color: rgb(0, 145, 255);
padding-left: 4px;
padding-top: 8px;
padding-bottom: 8px;
}

main{
  background-color: rgb(6, 10, 89);
  padding-left: 4px;
}

footer{
  background-color: rgb(0, 145, 255);
}

.yellowtext{
  color:yellow;
}

.intro {
  background-color:rgb(16, 81, 212);
  color: white;
  border: 2px white;
  margin:4px;
  margin-right: 50%;
  border-radius: 15px;
}

.paragraph {
  color: white;
  padding: 10px;
  background-color: rgb(0, 89, 255);
  margin-right: 1000px;
  border-radius: 5px;
}

.building img{
  border:10px solid white;
  margin: 10px
}

.item1 {
  grid-row: span 2;
}

.item10 {
  grid-column: span 2;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
  height: 400px;
  width: 650px;
  gap: 10px 10px;
  padding: 5px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border: 0px;
}

.container img {
  height: 50px;
  width: auto;
}
