body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    border-radius: 8px;
  }
    
a {
    color: black;
    background-color: yellow;
    font-weight: bold;
}

ul {
  list-style-type:circle;
}

head{
  background-color: lightblue;
  padding-left: 4px;
  border-radius: 15px;
}

nav{
background-color: rgb(0, 145, 255);
padding-left: 4px;
padding-top: 8px;
padding-bottom: 8px;

}

main{
  background-color: rgb(13, 74, 154);
  padding-left: 4px;
  padding-bottom 8px;
}

footer{
  background-color: rgb(0, 145, 255);
}

.yellowtext{
  color:yellow;
}

.intro {
  background-color:rgb(8, 125, 164);
  color: white;
  border: 2px white;
  margin:4px;
  margin-right: 1000px;
  border-radius: 15px;
}

.paragraph {
  color: white;
  border: 2px solid black;
  padding: 10px;
  background-color: rgb(11, 34, 110);
  margin-right: 1000px;
  border-radius: 5px;
}