body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    border-radius: 8px;
  }
    
a {
    color: black;
    background-color: yellow;
    font-weight: bold;
}

ul {
  list-style-type:circle;
}

head{
  background-color:lightblue
}
nav{
background-color:red
}
main{
  background-color:blue
}